.repr-line-component {
  padding: 5px;
  margin: 10px 0;
  box-shadow: 0.5px 1px 1px 2px #eee;
  transition: all 0.2s ease-in-out;
}

.repr-line-component:hover {
  transform: scale(1.005);
}

.repr-line-component.success-bg {
  background-color: #f6fff6;
}

.repr-line-component.warning-bg {
  background-color: #fef9e4;
}

.repr-line-component.danger-bg {
  background-color: #fff6f6;
}
