VITE_COGNITO_USER_POOL_ID=string
VITE_COGNITO_USER_POOL_CLIENT_ID=string
VITE_REPRS_API_BASE_URL=https://example.execute-api.region.amazonaws.com
VITE_REQUIRE_HOME_SIGN_IN=boolean
VITE_ALLOW_ANONYMOUS_HOME=boolean
